<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
              name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#menu').load('menu.html');


                $("#solve").click(function () {
                    let allVal = [];
                    $("#cont input").each(function () {
                        allVal.push($(this).val());
                    });
                    let f=allVal[0];
                    let a=parseFloat(allVal[1]);
                    let b=parseFloat(allVal[2]);
                    let e=parseFloat(allVal[3]);
                    let x=parseFloat(allVal[4]);

                    if (isNaN(a) || isNaN(b) || isNaN(e) || f==='' || isNaN(x)) {
                        alert("Incorrect data")
                    } else {
                        $.ajax({
                            url: '"http://localhost:4001/calculate"',
                            headers: {
                                'x-auth-token': localStorage.getItem("access-token")
                            },
                            method: 'POST',
                            dataType: 'json',
                            data: {a,b,e,f,x},
                            success: function (data) {
                                alert("Data Send");
                                window.location.href = "http://localhost:4001/history.html";
                            },
                            error: function (data) {
                                alert("error: " + data.responseText);
                            }
                        });
                    }
                })
            });
        </script>
        <title>Calculator</title>
    </head>
    <style type="text/css">
        body {
            font-family: 'Varela Round', sans-serif;
        }
        #solve
        {
            background: darksalmon;
        }
        #solve:hover
        {
            color: white;
        }
    </style>
    <body>
        <div id="menu" class="mb-5"></div>
        <div class="container " id="cont">
            <h1 class="d-flex align-items-center justify-content-center ">Newton interpoliation</h1>
            <br>
            <div class="input-group "style="margin-left: 400px">
                <div class="input-group-prepend" style="width: 100px;height: 30px" >
                    <span class="input-group-text "    >Input f:</span>
                    <input type="text" class="form-control" style="width: 350px;height: 30px">
                </div>
            </div>
            <br>
            <div class="input-group " style="margin-left: 400px">
                <div class="input-group-prepend" style="width: 100px;height: 30px" >
                    <span class="input-group-text "    >Input a:</span>
                    <input type="text" class="form-control" style="width: 350px;height: 30px">
                </div>
            </div>
            <br>
            <div class="input-group "style="margin-left: 400px">
                <div class="input-group-prepend" style="width: 100px;height: 30px" >
                    <span class="input-group-text "    >Input b:</span>
                    <input type="text" class="form-control" style="width: 350px;height: 30px">
                </div>
            </div>
            <br>
            <div class="input-group " style="margin-left: 400px">
                <div class="input-group-prepend" style="width: 100px;height: 30px" >
                    <span class="input-group-text "   >Input e:</span>
                    <input type="text" class="form-control" style="width: 350px;height: 30px">
                </div>
            </div>
            <br><br> <br>
            <div class=" d-flex justify-content-center" style="font-size: x-large">
                <span>What x do u want to find?</span>
            </div>
            <br>
            <div class="col d-flex justify-content-center">
                <input type="text" class="form-control" style="width: 150px;height: 30px">
            </div>
            <br>
            <div class="d-flex justify-content-center ">
                <button id="solve" type="button" class="btn btn-lg ">solve</button>
            </div>
            <br>
            <div class=" d-flex justify-content-center" style="font-size: x-large">
                <span>Result</span>
            </div>
        </div>
    </body>
</html>
