<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menu').load('menu.html');
            let tasks;
            $.ajax({
                type: 'GET',
                url: `http://localhost:4001/tasks/finished`,
                headers: {
                    'x-auth-token': localStorage.getItem("access-token")
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    tasks = data;

                    let tasksHtml = '<div id="tasks">';
                    tasks.forEach(task => {
                        tasksHtml += `<h3>${task.name}</h3>`
                        tasksHtml += `<h5>a = ${task.a}</h5>`
                        tasksHtml += `<h5>b = ${task.b}</h5>`
                        tasksHtml += `<h5>e = ${task.e}</h5>`
                        tasksHtml += `<h5>f = ${task.f}</h5>`
                        tasksHtml += `<h5>x = ${task.x}</h5>`
                        tasksHtml += `<h5>res = ${task.result}</h5>`
                    })
                    tasksHtml += '</div>'

                    $("#tasks").replaceWith(tasksHtml);
                },
                error: function (data) {
                    alert("error: " + data.responseText);
                }
            });
        });
    </script>
    <title>History</title>
</head>
<body>
<div id="menu" class="mb-5"></div>
<div class="container d-flex justify-content-center">
    <div style="width: 800px">
        <h1 class="d-flex justify-content-start mb-5">History</h1>
        <div id="tasks">
        </div>
    </div>
</div>
</body>
</html>
