<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menu').load('menu.html');
            let tasks;
            $.ajax({
                type: 'GET',
                url: `http://localhost:3000/tasks/finished`,
                headers: {
                    'x-auth-token': localStorage.getItem("access-token")
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    tasks = data;

                    let tasksHtml = '<div id="tasks">';
                    tasks.forEach(task => {
                        let equations = `<table class="table table-borderless" style="width: ${task.matrix[0].length * 130}px"><tbody>`;
                        let trs;

                        for (let k = 0; k < task.vector.length; k++) {
                            trs = `<tr><td>${task.matrix[k][0]} x1</td>`;
                            for (let i = 1; i < task.matrix[k].length; i++) {
                                trs += `<td>+</td>`
                                trs += `<td>${task.matrix[k][i]} x${i + 1}</td>`
                            }
                            trs += `<td>=</td><td>${task.vector[k]}</td></tr>`;

                            equations += trs;
                        }
                        equations += `</tbody></table>`;

                        let result = `<table class="table table-borderless ml-5" style="width: 100px;"><tbody>`;

                        for (let i = 0; i < task.result.length; i++) {
                            result += `
                            <tr>
                                <td>x${i + 1}</td>
                                <td>=</td>
                                <td>${task.result[i]}</td>
                            </tr>`
                        }
                        result += `</tbody></table>`;

                        let stoppedHTML = `<h6 style="color:red">(stopped)</h6>`
                        let finishedHTML = `<h6 style="color:green">(finished)</h6>`

                        tasksHtml += `
                            <div class="row card mt-3" style="height: ${100 + task.matrix.length * 60}px">
                                <div class="card-body">
                                    <div class="d-flex justify-content-center">
                                        <h3>${task.name}</h3>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        ${task.isStopped ? stoppedHTML : finishedHTML}
                                    </div>
                                    <div class="d-flex justify-content-center" style="font-size: 20px">
                                        ${equations}
                                        ${result}
                                    </div>
                                </div>
                            </div>`
                    })
                    tasksHtml += '</div>'

                    $("#tasks").replaceWith(tasksHtml);
                },
                error: function (data) {
                    alert("error: " + data.responseText);
                }
            });
        });
    </script>
    <title>History</title>
</head>
<body>
<div id="menu" class="mb-5"></div>
<div class="container d-flex justify-content-center">
    <div style="width: 800px">
        <h1 class="d-flex justify-content-start mb-5">History</h1>
        <div id="tasks">
        </div>
    </div>
</div>
</body>
</html>
