<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#menu').load('menu.html');

            $('#solution').click(function () {
                window.location.href = "http://localhost:3000/history.html";
            })

            let tasks;

            $.ajax({
                type: 'GET',
                url: `http://localhost:3000/tasks/running`,
                headers: {
                    'x-auth-token': localStorage.getItem("access-token")
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    tasks = data;
                },
                error: function (data) {
                    alert("error: " + data.responseText);
                }
            });

            $(function () {
                setInterval(oneSecondFunction, 1000);
            });

            function oneSecondFunction() {
                let tasksHtml = '<div id="tasks">';

                tasks.forEach(task => {
                    $.ajax({
                        type: 'GET',
                        url: `http://localhost:3000/tasks/${task.name}`,
                        headers: {
                            'x-auth-token': localStorage.getItem("access-token")
                        },
                        contentType: 'application/json; charset=utf-8',
                        success: function (data) {
                            task = data;
                            if (task.progress === 100 && task.result.length) {
                                tasksHtml += `
                            <div class="row card mt-3" style="height: 170px">
                                <div class="card-body">
                                    <h3>${task.name} finished</h3>
                                    <div class="progress mt-3" style="width: 790px">
                                    <div class="progress-bar  bg-success" role="progressbar" style="width: 100%" aria-valuenow="75"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                    <div class="float-right mt-4">
                                        <a href="history.html" class="btn btn-lg btn-primary ml-3">solution</a>
                                    </div>
                                </div>
                            </div>`
                            } else if (task.isStopped || (task.status === 'finished' && !task.result.length)) {
                                if (task.status === 'finished' && !task.result.length && !task.isStopped) {
                                    alert("answer not found");
                                    stop(task.name);
                                }
                                tasksHtml += `
                            <div class="row card mt-3" style="height: 170px">
                                <div class="card-body">
                                    <h3>${task.name} stopped</h3>
                                    <div class="progress mt-3" style="width: 790px">
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="75"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                    <div class="float-right mt-4">
                                        <a href="history.html" class="btn btn-lg btn-primary ml-3">history</a>
                                    </div>
                                </div>
                            </div>`
                            } else {
                                tasksHtml += `
                            <div class="row card mt-3" style="height: 170px">
                                <div class="card-body">
                                    <h3>${task.name}</h3>
                                    <div class="progress mt-3" style="width: 790px">
                                    <div class="progress-bar " role="progressbar" style="width: ${task.progress}%" aria-valuenow="75"
                                             aria-valuemin="0"
                                             aria-valuemax="100"></div>
                                    </div>
                                    <div class="float-right mt-4">
                                        <button id="${task.name}" type="button" onclick="stop(id)" class="btn btn-lg btn-danger ml-3">Stop</button>
                                    </div>
                                </div>
                            </div>`
                            }
                        },
                        error: function (data) {
                            alert("error: " + data.responseText);
                        }
                    });
                })

                setTimeout(replace, 1000);

                function replace() {
                    tasksHtml += '</div>'

                    $("#tasks").replaceWith(tasksHtml);
                }
            }
        });

        function stop(task) {
            $.ajax({
                type: 'PATCH',
                url: `http://localhost:3000/tasks/${task}/stop`,
                headers: {
                    'x-auth-token': localStorage.getItem("access-token")
                },
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                },
                error: function (data) {
                    alert("error: " + data.responseText);
                }
            });
        }
    </script>
    <title>Progress</title>
</head>
<body>
<div id="menu" class="mb-5"></div>
<div class="container d-flex justify-content-center">
    <div style="width: 800px">
        <h1 class="d-flex justify-content-start mb-5">In Progress..</h1>
        <div id="tasks">
        </div>
    </div>
</div>


</body>
</html>
