<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#register").click(function () {
                var username = $("input[name='username']").val();
                var password = $("input[name='password']").val();
                if (username === '' || password === '') {
                    $('input[name="username"],input[name="password"]').css("border", "2px solid red");
                    $('input[name="username"],input[type="password"]').css("box-shadow", "0 0 3px red");
                    alert("Please fill all fields...!!!!!!");
                } else {
                    $.post("http://localhost:4001/users/register", {username, password}, function () {
                        alert("Successfully registered!");
                        window.location.href = "http://localhost:4001/signin.html";
                    }).fail(function (data) {
                        alert("error: " + data.responseText);
                    });
                }
            });
        });

    </script>
    <title>Sign up</title>
</head>
<style type="text/css">
    body {
        font-family: 'Varela Round', sans-serif;
    }
    .btn-black{
        background-color: darksalmon;
        color: black;}
    .btn-black:hover{
        color: white;
    }
    .form-group {
        margin-bottom: 20px;
    }
    .form-control {
        min-height: 38px;
        padding-left: 5px;
        box-shadow: none !important;
        border-width: 0 0 1px 0;
        border-radius: 0;
    }
    .input-group-addon {
        max-width: 42px;
        background: none;
        border-width: 0 0 0 0;
        padding-right: 5px;
        padding-top: 7px ;
    }
</style>
<body>
<div class="container my-4">
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <aside class="col-sm-5">
            <div class="card">
                <h5 class="modal-title info-color white-text text-center py-4">
                    <strong>Sign up</strong>
                </h5>
                <!--Card content-->
                <div class="card-body px-lg-5 pt-0 text-center" style="color: #757575;">

                        <!-- Email -->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input name="username" type="text" class="form-control" placeholder="Username" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input  name="password" type="password" class="form-control" name="password" placeholder="Password" required="required">
                            </div>
                        </div>
                        <!-- Sign in button -->
                        <div class="form-group">
                            <button id="register" type="submit" class="btn my-4 waves-effect btn-black btn-block  btn-lg" >Sign Up</button>
                        </div>
                        <p>Have an account?
                            <a href="./signin.html" style="color:#e9967a">Log in</a>
                        </p>

                </div>
            </div>
        </aside>
    </div>
</div>
</body>
</html>
