<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#login").click(function () {
                var username = $("input[name='username']").val();
                var password = $("input[name='password']").val();
                if (username === '' || password === '') {
                    $('input[name="username"],input[name="password"]').css("border", "2px solid red");
                    $('input[name="username"],input[type="password"]').css("box-shadow", "0 0 3px red");
                    alert("Please fill all fields...!!!!!!");
                } else {
                    $.post("http://localhost:3000/users/login", {username, password}, function (data) {
                        alert("Logged in");
                        alert(data.token);
                        localStorage.setItem("access-token", data.token);
                    }).fail(function (data) {
                        alert("error: " + data.responseText);
                    });

                }
            });
        });
    </script>
    <title>Document</title>
</head>
<body>
<div class="container my-4">
    <div class="row d-flex align-items-center justify-content-center mt-5">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <a href="./signup.html" class="float-right btn btn-outline-primary">Sign up</a>
                    <h4 class="card-title mb-4 mt-1">Sign in</h4>
                    <div>
                        <div class="form-group">
                            <label>Your username</label>
                            <input name="username" class="form-control" placeholder="Username" type="text">
                        </div>
                        <div class="form-group">
                            <label>Your password</label>
                            <input name="password" class="form-control" placeholder="******" type="password">
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label> <input type="checkbox"> Save password </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button id="login" type="submit" class="btn btn-primary btn-block"> Login</button>
                        </div>
                    </div>
                </article>
            </div>
        </aside>
    </div>
</div>
</body>
</html>
